<%- include ("partials/header.ejs") %>

<div class="container">
  <header class="jumbotron text-center">
    <h1 class="simhei display-4"> <%= header %> </h1>
    <p class="kaiti"><%= poem %></p>
    <p>
      <% if (info.wechat) { %> <i class="fab fa-weixin fa-lg"></i> &nbsp; <%= info.wechat %> <% } %>
      <% if (info.wechat && info.phone) { %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <% } %>
      <% if (info.phone) { %> <i class="fas fa-phone fa-lg"></i> &nbsp; <%= info.phone %> <% } %>
    </p>
  </header>

   <div class="form-group">
    <form action="/access" method="POST">
      <div class="card">
	<div class="card-body">
	  <h4 class="card-title">输入验证码</h4>
	  <h5 class="card-text simsun">由于安全和隐私考虑，您需要输入验证码才能继续访问。您可以通过联系网站主人获得验证码。</h5>
	</div>
	<hr>
	<div class="card-body">
	  <label for="access_code">验证码</label>
	  <input type="text" class="form-control" id="access_code" name="access_code" placeholder="验证码">
	  <div class="bottom-buttons">
	    <input type="submit" class="btn btn-primary btn-lg" value="确认">
	  </div>
	</div>
      </div>
    </form>
   </div>

</div>
<%- include ("partials/footer.ejs") %>
