<% include partials/header.ejs %>

<div class="container">
  <header class="jumbotron text-center">
    <h1 class="simhei">管理页面</h1>
  </header>

  <div class="form-group">
    <div class="card">
      <h4 class="card-header simhei">访问次数</h4>
      <div class="card-body">
        <div class="graph-info">
          <button id="btn-alltime" type="button" class="btn-sm btn-outline-primary">1年</button>
          <button id="btn-30day" type="button" class="btn-sm btn-outline-primary active">30天</button>
        </div>
        <div class="graph-container">
          <div id="graph-30day"></div>
          <div id="graph-alltime"></div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin: 25px 0 25px 0;"></div>

  <div class="form-group">
    <div class="card">
      <h4 class="card-header simhei">访问来源</h4>
      <div class="card-body">
        <div class="graph-container">
          <div id="piechart"></div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin: 25px 0 25px 0;"></div>

  <div class="form-group">
    <div class="card">
      <h4 class="card-header simhei"> 基本信息 </h4>
      <div class="card-body">
        <p> 微信号: <%= info.wechat %> </p>
        <p> 电话号码: <%= info.phone %> </p>
        <p> 公告： <%= info.notice %> </p>
        <p> 显示公告： <% if (info.show_notice) { %> 是 <% } else { %> 否 <% } %></p>
        <p> 允许点赞： <% if (info.allow_like) { %> 是 <% } else { %> 否 <% } %></p>
        <p> 允许差评： <% if (info.allow_dislike) { %> 是 <% } else { %> 否 <% } %></p>
        <p> 验证码： <%= info.access_code %></p>
        <p> 需要验证码： <% if (info.enable_access_code) { %> 是 <% } else { %> 否 <% } %></p>
        <p> 显示最后一天： <% if (info.enable_lastday) { %> 是 <% } else { %> 否 <% } %></p>
        <hr>
        <div class="text-center">
          <a href="info_update" class="btn btn-success btn-lg"> 修改基本信息 </a>
        </div>
      </div>
    </div>
  </div>
  <div style="margin: 25px 0 25px 0;"></div>

  <% profiles.forEach(function(profile, i){ %>
  <div class="card" id="<%= profile._id %>">
    <h4 class="card-header simhei"> <%= profile.name %> </h4>
    <div class="card-body">
      <h4 class="card-title simsun"> <%= profile.description %> </h4>
    </div>
    <% if (info.enable_lastday) { %>
    <div class="my-card-body align-left">
      <span class="plain-btn">
        <i class="fa fa-calendar-alt"></i> &thinsp;
        <% if (profile.lastday && profile.lastday.length > 5) { %> 最后一天 <%= profile.lastday.substring(5) %> &thinsp; <% } %>
        还剩<span class="dayleft-num" lastday="<%= profile.lastday %>"></span>天
      </span>
      <span class="dayleft-progress" lastday="<%= profile.lastday %>"></span>
    </div>
    <% } %>
    <% if (info.allow_like || info.allow_dislike) { %>
    <div class="my-card-body align-right">
      <% if (info.allow_like) { %>
      <span id="<%= profile._id %>-like" class="plain-btn thumbs">
        <i id="<%= profile._id %>-like-font" class="far fa-thumbs-up fa-lg"></i> &nbsp;
        <span id="<%= profile._id %>-like-value"><%= profile.likes %></span>
      </span>
      <% } %>
      <% if (info.allow_like && info.allow_dislike) { %>
      &nbsp; &nbsp; &nbsp;
      <% } %>
      <% if (info.allow_dislike) { %>
      <span id="<%= profile._id %>-dislike" class="plain-btn thumbs">
        <i id="<%=profile._id %>-dislike-font" class="far fa-thumbs-down fa-lg"></i> &nbsp;
        <span id="<%= profile._id %>-dislike-value"><%= profile.dislikes %></span>
      </span>
      <% } %>
      &nbsp; &nbsp;
    </div>
    <% } %>
    <ul class="list-group list-group-flush">
      <% if (profile.images.length > 0) { %>
      <li class="list-group-item">
        <div class="card-body">
          <div class="row text-center">
            <% profile.images.forEach(function(image, j){ %>
            <div class="col-lg-6 col-md-12">
              <p> <img src="<%= image %>" class="img-thumbnail"> </p>
            </div>
            <% }); %>
          </div>
        </div>
      </li>
      <% } %>
      <% if (profile.videos.length > 0) { %>
      <li class="list-group-item">
        <div class="card-body">
          <% profile.videos.forEach(function(video, j){ %>
          <div class="row text-center">
            <div class="col-lg-12">
              <div class="ratio-container">
                <iframe class="video-frame" src="<%= video %>?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <% if (j < profile.videos.length-1) { %> <div style="margin: 20px 0 20px 0;"></div> <% } %>
             <% }); %>
        </div>
      </li>
      <% } %>
    </ul>
    <div style="margin: 10px 0 10px 0;"></div>
    <div class="text-center">
      <a href="/edit/<%= profile._id %>" class="btn btn-success btn-lg"> 修改资料 </a>
      <span class="hspace"></span>
      <form action="/<%= profile._id %>?_method=DELETE" method="POST" style="display:inline">
        <input type="submit" class="btn btn-danger btn-lg" value="删除资料">
      </form>
    </div>
    <div style="margin: 10px 0 10px 0;"></div>
  </div>
  <div style="margin: 25px 0 25px 0;"></div>
  <% }); %>

  <div class="bottom-buttons" style="margin-bottom:2em">
    <a href="new" class="btn btn-success btn-xlg"> 新建资料 </a>
    <span class="hspace"></span>
    <a href="/" class="btn btn-info btn-xlg"> 返回首页 </a>
    <span class="hspace"></span>
    <a href="/logout" class="btn btn-info btn-xlg"> 退出登录 </a>
  </div>

  <script>
    var data_alltime = [{
    data: [<% visit.forEach(function(value, key){ %>
    [<%= (new Date(key)).getTime() %>, <%= value %>],
    <% }); %>],
    color: '#77b7c5'
    }];
    var city_data = [<% cityData.forEach(function(value){ %>
    {label: "<%= value.label %>", data: <%= value.data %>, color: "<%= value.color %>"},
    <% }); %>];
  </script>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="/javascripts/jquery.flot.js"></script>
  <script src="/javascripts/jquery.flot.time.js"></script>
  <script src="/javascripts/jquery.flot.pie.js"></script>
  <script src="/javascripts/graph.js"></script>
  <script src="/javascripts/lastday.js"></script>
  <% include partials/footer.ejs %>
