<%- include ("partials/header.ejs") %>

<div class="container">
  <header class="jumbotron text-center">
    <h1 class="simhei display-4"> <%= header %> </h1>
    <p class="kaiti"><%= poem %></p>
    <p>
      <% if (info.wechat) { %> <i class="fab fa-weixin fa-lg"></i> &nbsp; <%= info.wechat %> <% } %>
      <% if (info.wechat && info.phone) { %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <% } %>
      <% if (info.phone) { %> <i class="fas fa-phone fa-lg"></i> &nbsp; <%= info.phone %> <% } %>
    </p>
  </header>

  <% if (info.show_notice) { %>
  <div class="alert alert-info" role="alert">
    <span class="simsun"> <%= info.notice %> </span>
  </div>
  <div style="margin: 25px 0 25px 0;"></div>
  <% } %>

  <% profiles.forEach(function(profile, i){ %>
  <div class="card">
    <h4 class="card-header simhei zero-padding">
      <span class="left-card-header"><b><%= i+1 %></b></span>
      <span class="right-card-header"><%= profile.name %></span>
    </h4>
    <div class="card-body">
      <h4 class="card-text simsun"> <%= profile.description %> </h4>
    </div>
    <% if (info.enable_lastday) { %>
    <div class="my-card-body align-left">
      <span class="plain-btn">
        <i class="fa fa-calendar-alt"></i> &thinsp;
        <% if (profile.lastday && profile.lastday.length > 5) { %> 最后一天 <%= profile.lastday.substring(5) %>  &thinsp; <% } %>
        还剩<span class="dayleft-num" lastday="<%= profile.lastday %>"></span>天
      </span>
      <span class="dayleft-progress" lastday="<%= profile.lastday %>"></span>
    </div>
    <% } %>
    <% if (info.allow_like || info.allow_dislike) { %>
    <div class="my-card-body align-right">
      <% if (info.allow_like) { %>
      <button type="button" id="<%= profile._id %>-like" class="btn btn-outline-dark thumbs">
        <i id="<%= profile._id %>-like-font" class="far fa-thumbs-up fa-lg"></i> &nbsp;
        <span id="<%= profile._id %>-like-value"><%= profile.likes %></span>
      </button>
      <% } %>
      <% if (info.allow_like && info.allow_dislike) { %>
      &nbsp; &nbsp; &nbsp;
      <% } %>
      <% if (info.allow_dislike) { %>
      <button type="button" id="<%= profile._id %>-dislike" class="btn btn-outline-dark thumbs">
        <i id="<%=profile._id %>-dislike-font" class="far fa-thumbs-down fa-lg"></i> &nbsp;
        <span id="<%= profile._id %>-dislike-value"><%= profile.dislikes %></span>
      </button>
      <% } %>
      &nbsp; &nbsp;
    </div>
    <% } %>
    <ul class="list-group list-group-flush">
      <% if (profile.images.length > 0) { %>
      <li class="list-group-item">
        <div class="card-body">
          <div class="row text-center">
            <% profile.images.forEach(function(image, j){ %>
            <div class="col-lg-6 col-md-12">
              <p id="<%= "para" + String(i) + "_" + String(j) %>">
                <img src="<%= image %>" class="img-thumbnail">
              </p>
            </div>
            <% }); %>
          </div>
        </div>
      </li>
      <% } %>
      <% if (profile.videos.length > 0) { %>
      <li class="list-group-item">
        <div class="card-body">
          <% profile.videos.forEach(function(video, j) { %>
          <div class="row text-center">
            <div class="col-lg-12">
              <div class="ratio-container video-wrapper">
                <video width="100%" controls>
                  <source src="<%= video %>" type="video/mp4">
                </video>
              </div>
            </div>
          </div>
          <% if (j < profile.videos.length-1) { %> <div style="margin: 20px 0 20px 0;"></div> <% } %>
          <% }); %>
        </div>
      </li>
      <% } %>
    </ul>
  </div>
  <div style="margin: 25px 0 25px 0;"></div>
  <% }); %>

  <% if(currentUser){ %>
  <div class="bottom-buttons" style="margin-bottom:1.5em">
    <a href="/admin" class="btn btn-success btn-xlg"> 管理页面 </a>
    <span class="hspace"></span>
    <a href="/logout" class="btn btn-info btn-xlg"> 退出登录 </a>
  </div>
  <% } %>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/javascripts/thumbs.js"></script>
<script src="/javascripts/lastday.js"></script>
<%- include ("partials/footer.ejs") %>
