<% include partials/header.ejs %>

<div class="container">
  <header class="jumbotron text-center">
    <h1 class="simhei display-4">欢迎来到LiLi的主页</h1>
    <p class="kaiti"><%= poem %></p>
    <p>
      <i class="fab fa-weixin fa-lg"></i> &nbsp; <%= info.wechat %>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <i class="fas fa-phone fa-lg"></i> &nbsp; <%= info.phone %>
    </p>
  </header>
  
  <% if (info.show_notice) { %>
  <div class="alert alert-info" role="alert">
    <span class="simsun"> <%= info.notice %> </span>
  </div>
  <% } %>

  <% profiles.forEach(function(profile, i){ %>
  <div class="card">
    <h4 class="card-header simhei"> <%= profile.name %> </h4>
    <div class="card-body">
      <h4 class="card-text simsun"> <%= profile.description %> </h4>
    </div>
    <% if (info.allow_thumbs) { %>
    <div class="card-body align-right">
      <button type="button" id="<%= profile._id %>-like" class="btn btn-outline-dark thumbs">
	<i id="<%= profile._id %>-like-font" class="far fa-thumbs-up fa-lg"></i> &nbsp;
	<span id="<%= profile._id %>-like-value"><%= profile.likes %></span>
      </button>
      &nbsp; &nbsp; &nbsp;
      <button type="button" id="<%= profile._id %>-dislike" class="btn btn-outline-dark thumbs">
	<i id="<%=profile._id %>-dislike-font" class="far fa-thumbs-down fa-lg"></i> &nbsp;
	<span id="<%= profile._id %>-dislike-value"><%= profile.dislikes %></span>
      </button>
      &nbsp; &nbsp;
    </div>
    <% } %>
    <ul class="list-group list-group-flush">
      <% if (profile.images.length > 0) { %>
      <li class="list-group-item">
	<div class="card-body">
	  <div class="row text-center">
	    <% profile.images.forEach(function(image, j){ %>
	    <div class="col-lg-6 col-md-12">
	      <p id="<%= "para" + String(i) + "_" + String(j) %>">
		<a href= "#<%= "pic" + String(i) + "_" + String(j) %>" >
		  <img src="<%= image %>" class="img-thumbnail">
		</a>
	      </p>
	    </div>
	    <% }); %>
	  </div>
	</div>
      </li>
      <% } %>
      <% if (profile.videos.length > 0) { %>
      <li class="list-group-item">
	<div class="card-body">
	  <% profile.videos.forEach(function(video, j) { %>
	  <div class="row text-center">
	    <div class="col-lg-12">
	      <div class="ratio-container">
		<iframe class="video-frame" src="<%= video %>?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	      </div>
	    </div>
	  </div>
          <% if (j < profile.videos.length-1) { %> <div style="margin: 20px 0 20px 0;"></div> <% } %>
          <% }); %>
	</div>
      </li>
      <% } %>
    </ul>
  </div>
  <div style="margin: 25px 0 25px 0;"></div>
  <% }); %>

  <% if(currentUser){ %>
  <div class="bottom-buttons" style="margin-bottom:1.5em">
    <a href="/admin" class="btn btn-success btn-xlg"> 管理页面 </a>
    <span class="hspace"></span>
    <a href="/logout" class="btn btn-info btn-xlg"> 退出登录 </a>
  </div>
  <% } %>
</div>

<% profiles.forEach(function(profile, i){ %>
<% profile.images.forEach(function(image, j){ %>
<div class="lightbox-target" id="<%= "pic" + String(i) + "_" + String(j) %>">
  <img src="<%= image %>">
  <a class="lightbox-close" href="#<%= "para" + String(i) + "_" + String(j) %>"></a>
</div>
<% }); %>
<% }); %>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/javascripts/thumbs.js"></script>
<% include partials/footer.ejs %> 
